<app-header></app-header>
<div class="m-3">
    <h2>Wishlist</h2>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div *ngFor="let product of allProducts" class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img width="180px" height="220px" class="card-img-top p-4"  routerLink="/view/1" [src]="product.image" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.title.slice(0,20)}}</h5>
                                <!-- Product price-->
                                ${{product.price}}
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between  p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><button (click)="addToCart(product)" class="btn btn-outline-dark mt-auto"><i class="fa-solid fa-cart-shopping fa-xl"></i></button></div>
                            <div class="text-center"><button (click)="removeItem(product._id)" class="btn btn-outline-danger mt-auto" href="#"><i class="fa-solid fa-heart-circle-xmark fa-xl"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="allProducts.length==0">
                <p class="text-danger fs-3">Your wishlist is empty..</p>
            </div>
        </div>
    </section>
</div>
